*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  text-align : center;
  display: block;
  margin-bottom: 2%;
}

.parent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.game{
  height: 80vh;
  width: 80vw;
  border: 2px dotted red;
}

.player{
  height: 10px;
  width: 10px;
  background-color: aqua;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
